<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.devrizkyfransisca.trashureapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TrashureApp">
        <activity android:name=".PricePulsa"></activity>
        <activity android:name=".KonfirmasiPenukaranAct" />
        <activity android:name=".EditProfileAct" />
        <activity android:name=".IsiNotifikasi" />
        <activity android:name=".PengaturanAct" />
        <activity android:name=".NotifikasiAct" />
        <activity android:name=".HomeAct" />
        <activity android:name=".SuccsessScanAct" />
        <activity android:name=".SuccessRedeemAct" />
        <activity android:name=".RegisterAct" />
        <activity android:name=".LoginAct" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>